<% include ../partials/header %><br/><br/>

<div class="container" style="border: 2px solid black; padding: 50px; text-align: center">
    <h1>Hello, Mr. Divyesh Dharjiya</h1>
<p>Click Below For Upload a videos On DivTube...</p>

<a href="/upload" class="btn btn-primary">Upload Videos</a><br/>

</div><br/><br/>

<% include ../partials/footer %>