<% include ../partials/header %><br/><br/>
    <video class="video-fluid z-depth-1"  autoplay loop controls muted width="1200" height="700" controls>
        <source src="../videos/<%= id %>" type="video/mp4">
    </video>
    <h3><%=id%></h3>
<% include ../partials/footer %>

