<% include ../partials/header %>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        
      </div>
    </div> -->
<% gallery.forEach(function(item){ %>
    <% var x = 1; %>
    <div class="container">
        <a href="/playvideo/<%=item.name%>">
            <video class="video-fluid z-depth-1"  autoplay loop controls muted width="300" height="250" controls style="float: left; margin: 20px; border: 3px solid black" >
                <source src = "../uploads/<%=item.name%>" type="video/mp4">
            </video>
        </a>
      </div>
<% }); %>

<% include ../partials/footer %>

